@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}
body{
  font-family: 'Ubuntu', sans-serif !important;
  align-items: center;
  background-color: #e0e0e0 !important;
}
.containers {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  height: 100vh;
}
.header {
  flex-grow: 0;
  height: 4rem;
  min-height: 13rem;
  /* background: black; */
}
.content {
  flex-grow: 1;
  overflow: auto;
}
.footer {
  flex-grow: 0;
  height: 4rem;
  min-height: 4rem;
  background: black;
}
.btn{
  border-radius: 40px;
  background: #e0e0e0;
  box-shadow:  10px 10px 20px #bebebe,
               -10px -10px 20px #ffffff;
}

.btn:disabled{
  border: none;
}
.card-time{
  font-family: digital;
  align-items: center;
  border-radius: 37px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  14px 14px 28px #969696,
               -14px -14px 28px #ffffff;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  width: 200px;
}